# exclude the custom post process files
*.dat
*.pdf
*.png
*.grf

# exclude execution files
*.out
*.err
*.log

# exclude the auxiliary GiD files
**/*gid/*.err
**/*gid/*.info
**/*gid/*.msh
**/*gid/*.png
**/*gid/*.vv

# and exclude the GiD pre-process files
**/*gid/*.json
**/*gid/*.mdpa
**/*gid/*.py

# and include a data folder
!**/data/*.png
!**/data/*.pdf
