# exclude the custom post process files
*.dat
*.pdf
*.png
*.grf

# exclude execution files
*.out
*.err
*.log

# exclude the auxiliary GiD files
**/*gid/*.err
**/*gid/*.info
**/*gid/*.msh
**/*gid/*.png
**/*gid/*.vv

# exclude the GiD pre-process files
**/*gid/*.json
**/*gid/*.mdpa
**/*gid/*.py

# and include useful files in the data folder
!**/data/**/*.png
!**/data/**/*.pdf
