# exclude the custom post process files
*.dat
*.pdf
*.png

# exclude execution files
*.out
*.err
*.sh

# exclude the auxiliary GiD files
**/*gid/*.info
**/*gid/*.err
**/*gid/*.msh
**/*gid/*.png

# exclude the GiD pre-process files
**/*gid/*.json
**/*gid/*.mdpa
**/*gid/*.py

# exclude other GiD and graphical files
*.grf
*.svg
*.vv

# and reinclude useful files in the data folder
!**/data/**/*.dat
!**/data/**/*.png
!**/data/**/*.pdf
