name: Examples-CI

on: 
  pull_request:
    branches:
      - master

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  ubuntu:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v3
  - name: Dependencies
    shell: bash
    run: python3 -m pip install KratosMultiphysics-all

  - name: Running examples
    shell: bash
    run: python3 ${GITHUB_WORKSPACE}/run_examples.py